<header>
  <div>
    <div class="text-size-2xl bold">
      Chris Holder
      <span class="text-primary-light text-size-4xl">.</span>
      Dev
    </div>
    <nav>
      {% set navPages = collections.all | eleventyNavigation %}
      <ul
        class="list-inline text-uppercase letter-spacing-wide text-size-sm bold"
      >
        {%- for entry in navPages %}
          <li>
            <a
              href="{{ entry.url }}"
              {% if entry.url == page.url %}aria-current="page"{% endif %}
              class="text-decoration-none"
              >{{ entry.title }}</a
            >
          </li>
        {%- endfor %}
      </ul>
    </nav>
  </div>
</header>
