<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Chris Holder Dot Dev</title>

    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/" class="h3"
          ><strong
            >Chris Holder
            <span class="dot">.</span>
            Dev</strong
          ></a
        >
        {% set navPages = collections.all | eleventyNavigation %}
        <ul>
          {%- for entry in navPages %}
            <li>
              <a
                href="{{ entry.url }}"
                {% if entry.url == page.url %}aria-current="page"{% endif %}
                >{{ entry.title }}</a
              >
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </header>
    <main>{{ content | safe }}</main>
    <footer>
      <p>Copyright &copy; {{ currentYear }} Chris Holder, chrisholder.dev</p>
    </footer>
  </body>
</html>
