<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Chris Holder Dot Dev</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/uses">Uses</a></li>
        </ul>
      </nav>
    </header>
    <main>{{ content }}</main>
    <footer>
      <p>Copyright &copy; 2025 Chris Holder, chrisholder.dev</p>
    </footer>
  </body>
</html>
