html {
  background-color: var(--color-background);
  color: var(--color-text-normal);
  font-family: var(--font-primary);
  line-height: var(--line-height-md);
}

body > header,
body > main,
body > footer {
  width: 100%;
  padding: var(--spacing-4);
  max-width: var(--width-container);
  margin-inline: auto;
}

body > footer {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: var(--spacing-4);
  font-weight: bold;
  font-family: var(--font-secondary);
}

h1 {
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-xs);
}

h2 {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-xs);
  margin-block-start: var(--spacing-7);
}

h3 {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-xs);
  margin-block-start: var(--spacing-6);
}

h4 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-sm);
  margin-block-start: var(--spacing-6);
}

h5 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-sm);
  margin-block-start: var(--spacing-5);
}

h6 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  margin-block-start: var(--spacing-5);
}

p {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  margin-block-start: 0;
  margin-block-end: var(--spacing-4);
}

a {
  color: var(--color-text-link);

  &:hover {
    color: var(--color-text-link-hover);
  }
}

@media (min-width: 100ch) {
  body > header,
  body > main,
  body > footer {
    padding-inline: 0;
  }

  h1 {
    font-size: var(--font-size-5xl);
  }
}
