:root {
  /* Palette */
  --color-white: hsl(0, 0%, 98%);
  --color-black: hsl(0, 0%, 10%);

  --color-indigo-1: hsl(234, 62%, 26%);
  --color-indigo-2: hsl(232, 51%, 36%);
  --color-indigo-3: hsl(230, 49%, 41%);
  --color-indigo-4: hsl(228, 45%, 45%);
  --color-indigo-5: hsl(227, 42%, 51%);
  --color-indigo-6: hsl(227, 50%, 59%);
  --color-indigo-6: hsl(225, 57%, 67%);
  --color-indigo-8: hsl(224, 67%, 76%);
  --color-indigo-9: hsl(221, 78%, 86%);
  --color-indigo-10: hsl(221, 68%, 93%);

  --color-cool-gray-1: hsl(210, 24%, 16%);
  --color-cool-gray-2: hsl(209, 20%, 25%);
  --color-cool-gray-3: hsl(209, 18%, 30%);
  --color-cool-gray-4: hsl(209, 14%, 37%);
  --color-cool-gray-5: hsl(211, 12%, 43%);
  --color-cool-gray-6: hsl(211, 10%, 53%);
  --color-cool-gray-7: hsl(211, 13%, 65%);
  --color-cool-gray-8: hsl(210, 16%, 82%);
  --color-cool-gray-9: hsl(214, 15%, 91%);
  --color-cool-gray-10: hsl(216, 33%, 97%);

  /* Theme */
  --color-primary-text-dark: var(--color-indigo-3);
  --color-primary-text: var(--color-indigo-4);
  --color-primary-text-light: var(--color-indigo-5);

  --color-background: var(--color-white);
  --color-text-normal: var(--color-cool-gray-1);
  --color-text-link: var(--color-primary-text);
  --color-text-link-hover: var(--color-primary-text-dark);

  /* Typography */
  --font-family-sans: system-ui, sans-serif;
  --font-family-serif:
    Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L",
    "Georgia Pro", Georgia, serif;
  --font-family-mono: "Nimbus Mono PS", "Courier New", monospace;

  /* Theme */
  --font-primary: var(--font-family-sans);
  --font-secondary: var(--font-family-serif);
  --font-code: var(--font-family-mono);

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;

  --line-height-xs: 1;
  --line-height-sm: 1.25;
  --line-height-md: 1.5;
  --line-height-lg: 1.75;
  --line-height-xl: 2;

  --letter-spacing-tight: -0.05em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.05em;

  /* Spacing */
  --spacing-base: 16px;
  --spacing-1: calc(var(--spacing-base) * 0.25);
  --spacing-2: calc(var(--spacing-base) * 0.5);
  --spacing-3: calc(var(--spacing-base) * 0.75);
  --spacing-4: var(--spacing-base);
  --spacing-5: calc(var(--spacing-base) * 1.5);
  --spacing-6: calc(var(--spacing-base) * 2);
  --spacing-7: calc(var(--spacing-base) * 3);
  --spacing-8: calc(var(--spacing-base) * 4);
  --spacing-9: calc(var(--spacing-base) * 6);
  --spacing-10: calc(var(--spacing-base) * 8);
  --spacing-11: calc(var(--spacing-base) * 12);
  --spacing-12: calc(var(--spacing-base) * 16);
  --spacing-13: calc(var(--spacing-base) * 24);
  --spacing-14: calc(var(--spacing-base) * 32);
  --spacing-15: calc(var(--spacing-base) * 40);
  --spacing-16: calc(var(--spacing-base) * 48);

  /* Width */
  --width-container: 65ch;
}
