:root {
  color-scheme: light dark;
}

html {
  color: light-dark(var(--color-fg), var(--color-bg));
  background-color: light-dark(var(--color-bg), var(--color-fg));
  font-family: var(--font-sans);
  font-weight: var(--font-weight-normal);
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-4);
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: var(--spacing-8) var(--spacing-4) 0;
  text-align: center;

  & .site-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }

  & .site-title {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    font-weight: var(--font-weight-bold);
  }

  & .site-subtitle {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
  }

  & .site-nav {
    margin-block-start: var(--spacing-4);

    ul {
      display: flex;
      justify-content: center;
      gap: var(--spacing-4);
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      text-transform: uppercase;
      letter-spacing: var(--tracking-widest);
      font-size: var(--text-sm);
      line-height: var(--text-sm--line-height);
    }

    a {
      color: light-dark(var(--color-primary), var(--color-primary-light));
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: var(--spacing-8) var(--spacing-4);
}

footer {
  text-align: center;
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: var(--spacing-8) var(--spacing-4);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

h1 {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
}

h2 {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
}

a {
  color: light-dark(var(--color-fg), var(--color-bg));
  text-decoration-thickness: 2px;

  &:hover {
    color: light-dark(var(--color-primary), var(--color-primary-light));
  }
}

@media screen and (min-width: 40rem /* --breakpoint-sm */) {
  header {
    text-align: left;
    justify-content: flex-start;
    flex-direction: row;

    & .site-img {
      margin: 0;
    }

    & .site-nav ul {
      justify-content: flex-start;
    }
  }
}
