:root {
  color-scheme: light dark;
}

html {
  color: light-dark(var(--color-fg), var(--color-bg));
  background-color: light-dark(var(--color-bg), var(--color-fg));
  font-family: var(--font-family);
  font-weight: normal;
  font-size: var(--font-size-lg);
  line-height: calc(1.75 / 1.125);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 2rem 1rem 0;
  text-align: center;

  & .site-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }

  & .site-title {
    font-size: var(--font-size-2xl);
    line-height: calc(2 / 1.5);
    font-weight: bold;
  }

  & .site-subtitle {
    font-size: var(--font-size-xl);
    line-height: calc(1.75 / 1.25);
  }
}

.nav-primary {
  margin-top: 1rem;

  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: var(--font-size-sm);
  }

  a {
    color: light-dark(var(--color-primary), var(--color-primary-light));
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

main {
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 2rem 1rem;
}

footer {
  text-align: center;
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 2rem 1rem;
  font-size: var(--font-size-sm);
}

h1 {
  font-size: var(--font-size-3xl);
  line-height: calc(2.25 / 1.875);
}

a {
  color: light-dark(var(--color-fg), var(--color-bg));
  text-decoration-thickness: 2px;

  &:hover {
    color: light-dark(var(--color-primary), var(--color-primary-light));
  }
}

@media screen and (min-width: 40rem) {
  header {
    text-align: left;
    justify-content: flex-start;
    flex-direction: row;

    & .site-img {
      margin: 0;
    }
  }

  .nav-primary ul {
    justify-content: flex-start;
  }
}
