:root {
  color-scheme: light dark;

  --color-bg: oklch(98.5% 0 0);
  --color-fg: oklch(37% 0.013 285.805);
  --color-primary: oklch(51.1% 0.262 276.966);

  --site-max-width: 42rem; /* 672px */

  --font-size-sm: 0.875rem; /* 14px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
}

html {
  color: light-dark(var(--color-fg), var(--color-bg));
  background-color: light-dark(var(--color-bg), var(--color-fg));
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(--font-size-lg);
  line-height: calc(1.75 / 1.125);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 2rem 1rem 0;
  text-align: center;
  font-size: var(--font-size-2xl);
  line-height: calc(2 / 1.5);

  & .site-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }

  & .site-title {
    font-weight: bold;
  }
}

main {
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 2rem 1rem;
}

footer {
  text-align: center;
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 2rem 1rem;
  font-size: var(--font-size-sm);
}

h1 {
  font-size: var(--font-size-3xl);
  line-height: calc(2.25 / 1.875);
}

a {
  color: light-dark(var(--color-fg), var(--color-bg));
  text-decoration-thickness: 2px;

  &:hover {
    color: var(--color-primary);
  }
}

@media screen and (min-width: 40rem) {
  header {
    text-align: left;
    justify-content: flex-start;
    flex-direction: row;

    & .site-img {
      margin: 0;
    }
  }
}
